################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdminLogger/obj/Debug
/AdminLogger/bin/Debug
/packages/StyleCop.Analyzers.1.1.118
/AdminLogger/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/AdminLogger/obj/Release
/AdminLogger/bin/Release
